
.title {
    font-family: 'Mortal';
}

.title #number {
    font-size: 90px;
}
.dragon-logo {
    width: 30rem;
}
.title h1 {
    font-size: 3rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:white;
    background-image: url("https://giffiles.alphacoders.com/209/209473.gif");
}

/** Applies fire effect to the h6 phrase **/
.title h6 {
    font-size: 1.2rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:rgb(10, 10, 10);
    -webkit-text-stroke-width: x;
    background-image: url("https://media.tenor.com/xAWNbezUQNcAAAAd/fire-hell-fire.gif");
}

/** Styles for the first page **/
.container-fluid.first-page {
    background-image: url("./Images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


  

/** End of styles for the first page **/


/** Styles for the second page **/
.container-fluid.second-page {
    background-image: url('./Images/other-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh
}
/** End of styles for the second page **/


/** Styles for the third page **/
.container-fluid.third-page {
    background-image: url('../images/walpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

}
/** End of styles for the third page **/


/** Styles for the fourth page **/
.container-fluid.fourth-page {
    background-image: url("https://64.media.tumblr.com/4af4aaeaec397b25fe27cbd791cec7ea/b17a5b9cd5f63ba7-a3/s540x810/c324517076f6fbae750375093476fcd91ce1133b.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh
}
/** End of styles for the third page **/

@media screen and (max-width:468px) {
    .container-fluid.first-page {
        background-position: 85%;
    }
}
