@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.modal-content button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.bona-nova-sc-regular-italic {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: italic;
}

.fixed-video-height {
    height: 60vh;
}

.title {
    font-family: 'Mortal';
}

.preview {
    width: 350px;
    border-radius: 3px;
}

.title .number {
    font-size: 88px;
    margin: 0 15px;
}
.dragon-logo {
    width: 30rem;
}

.description-title {
    color: white;
    font-family: Mortal;
}

.preorder-btn {
    background-image: url("../Navbar/Images/attempt.gif");
    border-radius: 5px;
    border: none;
    width: 10rem;
    height: 2rem;
}


.trailer-btn {
    background-image: url("../Navbar/Images/attempt.gif");
    border-radius: 5px;
    border: none;
    width: 13rem;
    height: 2rem;
}

.description {
    font-size: 1rem;
}
.preorder-btn a, .trailer-btn a {
    text-decoration: none;
    color: rgb(227, 138, 138);
}

.red-text {
    color: rgb(227, 138, 138);
}
   

.title .number {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:white;
    background-image: url("https://giffiles.alphacoders.com/209/209473.gif");
}
.title h1 {
    font-size: 3.5rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:white;
    background-image: url("https://giffiles.alphacoders.com/209/209473.gif");
}

/** Applies fire effect to the h6 phrase **/
.title h6 {
    font-size: 1.7rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:rgb(10, 10, 10);
    -webkit-text-stroke-width: x;
    background-image: url("https://media.tenor.com/xAWNbezUQNcAAAAd/fire-hell-fire.gif");
}

/** Styles for the first page **/
.first-page {
    background-image: url("./Images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/** End of styles for the first page **/
.second-page {
    background-color: black;
}
/** Styles for the fourth page **/
.container-fluid.fourth-page {
    background-image: url("https://64.media.tumblr.com/4af4aaeaec397b25fe27cbd791cec7ea/b17a5b9cd5f63ba7-a3/s540x810/c324517076f6fbae750375093476fcd91ce1133b.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh
}

.container-fluid.fourth-page button{
    background-color: red;
    border: 1px solid rgb(105, 0, 0);
    font-family: Mortal;
    border-radius: 2%;
}

.other-bg {
    background-image: url("./Images/tea-house.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
/** End of styles for the third page **/

@media screen and (max-width:468px) {
    .title h1 {
        font-size: 2.5rem;
    }

    .title h6 {
        font-size: 1.4rem
    }

    .fourth-page .title {
        font-size: 1.4rem;
    }
}

/* Homepage.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /** Yay this line creates a filter **/
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Mortal';
}

.popup-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}