footer {
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
}



@media screen and (max-width:768px) {
    .footerItem {
        width: 50px;
        margin: 10px 11px;
    }

    p {
        font-size: 13px;
    }
} 
