/** Styles for the first page **/
.container-fluid.first-page {
    background-image: url("https://giffiles.alphacoders.com/209/209473.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/** End of styles for the first page **/


/** Styles for the second page **/
.container-fluid.second-page {
    background-image: url('../images/krossroads.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}
/** End of styles for the second page **/


