@keyframes aparecer {
    0% {
      opacity: 0;
      
    }
    100% {
      opacity: 1;
    }
  }

.title h1 {
    animation: aparecer 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.5s;
  }

 .title h6 {
    animation: aparecer 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 1.5s;
  }
  
  .title .number {
    animation: aparecer 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 2s;
  }
  
  .second-text {
    animation: aparecer 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 2s;
  }

   button.preorder-btn {
    animation: aparecer 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 2.5s;

  }