footer {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
}

.footer-disclaimer {
    font-family: Tahoma;
}

.logo-img {
    width: 100px;  /* O el tamaño que prefieras */
    height: 50px;  /* O el tamaño que prefieras */
    object-fit: contain;  /* Mantiene la proporción de la imagen dentro del tamaño especificado */
    margin-right: 5px;
}



